<h1>Map</h1>
  <%= form_with url: map_request_path, method: :get do |f| %>
  <%= f.text_field :address, value:"Sydney" %>
  <%= f.submit '地図表示' %>
<% end %>

<div id="map">
</div>
<input type="text" id="latitude" placeholder="Latitude"/>
<input type="text" id="longitude" placeholder="Longitude"/>

<script>
  let map

  function initMap(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATitBmMp_5F7lWt2_YrSUbC-AdDq-MaD8&callback=initMap" async defer></script>
